.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(29, 0, 0);
  color: white;
  padding: 10vh 0;
}

.landscape {
  background: var(--c1);
  height: 100vh;
  position: relative;
  overflow: hidden;

  // shim to prevent gap of colour appearing at bottom
  &::before {
    content: '';
    position: absolute;
    bottom: -9rem;
    left: 0;
    width: 100%;
    height: 10rem;
    background: var(--c10);
  }

  &__title {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color: white;
  }

  // positioning for each layer and parallax
  &__layer {
    // positioning
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // svg wrapper
  &__image {
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 50%;
    max-height: 100%;
    max-width: 300%;
    min-width: 100%;
    position: absolute;
    transform: translateX(-50%);
    width: 2500px;

    svg {
      display: block;
      height: auto;
      max-width: 100%;
    }
  }
}

.wildfire {
  width: 75%;
  height: 100vh;
  min-height: 50vh;

  .wildfireBg {
    display: flex;
    justify-content: space-around;
  }

  h1 {
    padding-top: 32px;
    font-size: 3rem;
    text-align: center;
  }
}

.stats {
  padding: 32px 40px;
  width: 80%;
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  li {
    font-size: 2rem;
  }
}

.statsBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.help {
  padding: 32px 40px;
  width: 80%;
  text-align: left;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 32px;

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  li {
    font-size: 2rem;
  }

  a:hover {
    color: #FF7100;
  }

  img {
    position: absolute;
    right: 50vh;
  }
}

.destruction {
  display: flex;
  justify-content: space-evenly;

  &:nth-child(1) {
    .home, .fire {
      // wait here
    }
  }

  &:nth-child(1) {
    .home, .fire {
      // wait here
    }
  }

  &:nth-child(1) {
    .home, .fire {
      // wait here
    }
  }

  &:nth-child(1) {
    .home, .fire {
      // wait here
    }
  }

  &:nth-child(1) {
    .home, .fire {
      // wait here
    }
  }

  &:nth-child(1) {
    .home, .fire {
      // wait here
    }
  }
  
  .houseOnFire {
    .home {
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    .fire {
      transform: translate(20px,20px);
      animation: fadeIn 5s;
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    }

    img {
      position: absolute;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}