* {
  font-family: 'Archivo', sans-serif !important;
  font-style: normal;
  font-weight: 500;
}

/* ~~~ navigation styles ~~~ */
.react-calendar__navigation {
  display: flex;
  .react-calendar__navigation__label {
    font-weight: bold;
  }
  .react-calendar__navigation__arrow {
    flex-grow: 0.333;
  }
}
/* ~~~ label styles ~~~ */
.react-calendar__month-view__weekdays {
  text-align: center;
}
/* ~~~ button styles ~~~ */
.react-calendar button {
  margin: 3px;
  background-color: #6f876f;
  border: 0;
  border-radius: 3px;
  color: white;
  padding: 5px 0;
  &:hover {
    background-color: #556b55;
  }
  &:active {
    background-color: #a5c1a5;
  }
}
/* ~~~ day grid styles ~~~ */
.react-calendar__month-view__days {
  display: grid !important;
  grid-template-columns: 14.2% 14.2% 14.2% 14.2% 14.2% 14.2% 14.2%;

  .react-calendar__tile {
    max-width: initial !important;
  }
  .react-calendar__tile--range {
    box-shadow: 0 0 6px 2px black;
  }
}
/* ~~~ neighboring month & weekend styles ~~~ */
.react-calendar__month-view__days__day--neighboringMonth {
  opacity: 0.7;
}
.react-calendar__month-view__days__day--weekend {
  color: #dfdfdf;
}
/* ~~~ other view styles ~~~ */
.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: grid !important;
  grid-template-columns: 20% 20% 20% 20% 20%;
  &.react-calendar__year-view__months {
    grid-template-columns: 33.3% 33.3% 33.3%;
  }

  .react-calendar__tile {
    max-width: initial !important;
  }
}

:root {
  --c0:rgb(254,194,71); 
  --c1:rgb(255,173,56); 
  --c2:rgb(242,155,19); 
  --c3:rgb(236,140,18); 
  --c4:rgb(201,111,18); 
  --c5:rgb(226,123,25); 
  --c6:rgb(193,83,27); 
  --c7:rgb(177,71,24); 
  --c8:rgb(113,35,27); 
  --c9:rgb(61,11,14); 
  --c99:rgb(255,255,255);
  --c10:rgb(29,0,0); 
}