.navbar {
  position: relative;
  width: 100vw;
  height: 4.25rem;
  outline: 1px solid #e0e0e0;
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  font-weight: 500;

  .navbarLeft {
    margin: 0;
    padding: 0;
    height: 2rem;
  }
  .navbarRight {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
